.user-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-added-users-button {
    border: 0;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background-color: rgb(245, 245, 146);
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background-color 0.3s, transform 0.3s;
}

.show-added-users-button:hover {
    background-color: yellow; 
    transform: scale(1.1);
}


.add-user-button {
    border: 0;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background-color: #357e39;
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background-color 0.3s, transform 0.3s;
}

.add-user-button:hover {
    background-color: green; 
    transform: scale(1.1);
}
