<div class="user-list-container">
  <h1>User List</h1>
<ul>
  <li style="margin-bottom: 20px;" *ngFor="let user of users">
    {{ user.name }} {{ user.surname }} - {{ user.gender }} - {{ user.active ? 'Attivo' : 'Non attivo' }}
    <a [routerLink]="['/user-form', user.id]">Edit</a>
    <button class="delete-button" (click)="deleteUser(user.id!)">Delete</button>
  </li>
</ul>


<div *ngIf="showAddedUsersList">
  <h2>Added Users</h2>
  <ul>
    <li *ngFor="let user of addedUsers">
      {{ user.name }} {{ user.surname }} - {{ user.gender }} - {{ user.active ? 'Attivo' : 'Non attivo' }}
    </li>
  </ul>
</div>

<button class="back-to-home-button" (click)="goBack()">Back Home</button>
</div>
